ion-title{
  text-align: center;
  color:white;
}

.container{
  text-align: center;
  
}

.titulo{
  margin-top: 15%;
  color: white;
}

.charada{
  font-size: 25px;
  color: yellow;
}

.resposta{
  font-size: 25px;
  color:red;
  margin-top: 15px;
}

.botao{
  margin-top: 30px;
}

.botao .btn{
  margin-bottom: 20px;
  padding: 10px 10px;
  
}
